.friendCard{
   display: flex;
   flex-direction: column;
   align-items: center; 
}

.friendImg{
   padding-bottom: 20px;
}

.friendName{
   padding-bottom: 5px;
   margin: 0;
   font-size: 1.5rem;
}

.isOnline{
   padding-top: 0;
   margin: 0;
}

.online{
   color: green;
}

.offline{
   color: red;
}


