.friendSection{
      margin: 40px auto;
      width: 600px;
}

.friendList{
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      padding-left: 0px;
}

.friendItem{
   border: 2px solid #141313;
   border-radius: 8px;
   padding: 10px;
   padding-bottom: 0;
   width: 90px;
   height: 160px;
}